.content {
  height: 100vh;
  user-select: none;
}

.memory-game {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.memory-game h1 {
  font-size: 24px;

  font-weight: bold;
  margin-bottom: 20px;
}

.memory-game-board {
  width: 900px;
  height: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

.memory-game-board-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}
